.p-paginator-pages{
    color: black !important;
}

.p-column-header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-dropdown .p-dropdown-label {
    display: flex;
    color: black !important;
  }

  .p-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  html {
    scroll-behavior: smooth;
  }

  .ql-editor{
    min-height: 16rem;
  }